<!DOCTYPE html>
<html lang="en" ng-app="chromolens" ng-controller="chromolensCtrl">

<head>
<title>ChromoLens</title>
<meta charset="utf-8" />
<link rel="icon" href="img/favicon-32.png" sizes="32x32" />
<link rel="stylesheet" type="text/css" href="css/chromolens.css" />
<link rel="stylesheet" type="text/css" href="bower/jqueryui/themes/smoothness/jquery-ui.min.css" />
<link rel="stylesheet" href="css/bootstrap.min.css">
<link   type="text/css" rel="stylesheet" href="css/jh.css"/>
<script src="js/angular.min.js"></script>
<script src="js/app.js"></script>
</head>



<body>
<div class="container">
<div class="row">
<div class="col-xs-12">

    <div id="title">
        <div id="ChromoLensTitle" class="pull-left"><img src="img/logo.svg" alt="ChromoLens logo" id="ChromoLensLogo" title="ChromoLens"></div>
        <div id="CSItitle" class="title pull-right"><a href="http://www.csi.nus.edu.sg/"><img src="img/NUS-CSI.svg" alt="NUS|CSI logo" id="CSIlogo" title="NUS | CSI"></a></div>
    </div>


    <div id="genomechoice">
        <form name="selectform" class="form-inline">

            <select
                name="genome"
                ng-model="genome"
                class="form-control"
                ng-change="setDefaultAssembly();"
                ng-options="name for (name, data) in genomes"
                ng-disabled="loaded"
            ></select>

            <select
                name="assembly"
                id="selectAssembly"
                ng-model="assembly"
                class="form-control"
                ng-options="a as a.assembly for a in genomes[genome.name].assemblies track by a.file"
                ng-change="getChromosomes();"
                ng-disabled="loaded"
            ></select>

            <select
                type="genomechoice"
                id="chromosomes"
                class="form-control"
                ng-model="chromosome"
                ng-options="c for c in genome.chromosomes track by c"
                ng-disabled="loaded"
            ></select>

            <input type="button" class="btn btn-primary" name="load" id="load" value="Load" ng-hide="loaded" ng-click="load()" onclick="loaddata();" title="Load genome">

            <a class="btn btn-primary" ng-show="loaded" onclick="window.open(window.location.href)" target="_blank" title="New Chromolens tab">
                <span class="glyphicon glyphicon-plus-sign"></span>
            </a>

            <script>
                function loaddata() {
                    //debugger;
                    gv = new GenomeViewer.ChromosomeViewer();
                    preload((document.selectform.assembly.options[document.selectform.assembly.selectedIndex].value),'cytoband');
                    setTimeout( function() {
                        $("#add").click();
                        $("#view_type option").remove();
                    }, 100 );
                }
            </script>

        </form>
    </div>



    <div id="status" ng-show="loaded">

        <div class="ui-widget hide">
            <label for="features">Features</label>
            <input id="features"/>
        </div>

        <br class="clearfix">
        <div class="col-xs-1 focus_info" >Focus:</div>
        <div class="col-xs-2 focus_info" ><span id="focus_detail">N/A</span></div>
        <div class="col-xs-1 focus_info col-offset-xs-1" >Zoom:</div>
        <div class="col-xs-2 focus_info" ><span id="zoom_detail">N/A</span></div>
    </div>



    <div id="view">
        <svg class="genome" id="genomesvg"></svg>
    </div>



    <p><br class="clearfix">
    <div id="ChromoLens" ng-cloak style="display_:none">

        <div ng-show="loaded">
            <form id="ModelsView">
                <p>
<!--                         Chromosome: -->
<!--                         <select type="genomechoice" id="chromosomes" ></select> -->
                    Add view of type
                    <select type="genomechoice" id="view_type" ></select>
                    <span class="hidev2">
                        to
                        <select type="genomechoice" id="dest_view" >
                            <option value="new">a new view</option>
                        </select>
                    </span>
                    <input type="button" id="add" value="Confirm" disabled="true" onclick="addTrack();">
                    <script>
                        function addTrack(e) {
                            //debugger;
                            document.getElementById('genomesvg').style.border = '0.2em groove silver';
                            var elements = document.getElementsByClassName('hide_');
                            for (var e in elements) {if(elements[e].style) elements[e].style.display = 'block';}
                        }
                    </script>
                </p>

                <p id="parsers" style="display:none"></p>
                <p style="display:none">Load a file: <input type="file" id="_file" name="_file"/></p>
                <p class="hide_">
                    Loaded files:
                    <select type="genomechoice" id="filenames" ></select>
                </p>
            </form>
        </div>



<!--
                <h3>Generic Feature Format Version 3 (GFF3) Files :</h3>
                    <input type="button" id="button_top_level" value="top_level" onclick="
                    document.getElementById('button_top_level').disabled='true';
                    preload('files/top_level.MGSCv37.gff','gff3');
                    "/>
-->

<p>
<br>
<div class="files" ng-cloak ng-show="loaded">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>Interaction Standard Format (ISF) Files</h4>
        </div>
        <div class="panel-body">

            <div class="col-xs-3" ng-repeat="file in files.ISF">
                <div class="panel">
                    <a  id="button_{{file.fileid}}" value="{{file.fileid}}" class="files btn"  ng-class="loadedFiles[file.fileid] ? 'bg-success' :'btn-default'"
                        ng-click="preload( file.filename, file.type, undefined, file.fileid );"
                    ><div class="panel-heading" ng-bind="file.fileid"></div></a>

                    <div class="panel-body" ng-show="loadedFiles[file.fileid]">
                        <label>
                            <input type="checkbox" id="button_{{file.fileid}}_ip" value="isfPanel">
                            ISF Panel
                        </label>
                        <br>
                        <label>
                            <input type="checkbox" id="button_{{file.fileid}}_pdp" value="BindingDensityPanel">
                            Binding Density Panel
                        </label>
                    </div>
                </div>
            </div>

        </div>
    </div>



    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>BedGraph files</h4>
        </div>
        <div class="panel-body">

            <div class="col-xs-3" ng-repeat="file in files.Bedgraph">
                <div class="panel">
                    <a  id="button_{{file.fileid}}" value="{{file.fileid}}" class="files btn"  ng-class="loadedFiles[file.fileid] ? 'bg-success' :'btn-default'"
                        ng-click="preload( file.filename, file.type, undefined, file.fileid );"
                    ><div class="panel-heading" ng-bind="file.fileid"></div></a>

                    <div class="panel-body" ng-show="loadedFiles[file.fileid]">
                        <label>
                            <input type="checkbox" id="button_{{file.fileid}}_ip" value="BedGraphHistogramPanel">
                            Histogram Panel
                        </label>
                        <br>
                        <label>
                            <input type="checkbox" id="button_{{file.fileid}}_pdp" value="BedGraphDensityPanel">
                            Density Panel
                        </label>
                    </div>
                </div>
            </div>

        </div>
    </div>



    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>Uploaded files</h4>
        </div>
        <div class="panel-body">
            <ul id="pcfiles-list">
                <li id="pcfiles-list-first"><h5>No files available yet.</h5></li>
            </ul>
            <p>
                <input type="file" id="pcfile" /><br />
                or drop a file in the window to add to the list
            </p>

            <div id="dropfile-modal"></div>
        </div>
    </div>

</div>


<div id="Loading">
    <i id="LoadingAnimation"></i>
    <span id="LoadingText">Loading, please wait...</span>
    <div id="LoadingBarWrapper">
        <progress id="LoadingBar" max="100"></progress>
    </div>
</div>



<div id="binding_info" class="floating-info">
    start:  <span id="binding_start">   N/A     </span><br />
    end:    <span id="binding_end">     N/A     </span><br />
    pValue: <span id="binding_pValue">  None    </span><br />
    peak:   <span id="binding_peak">    N/A     </span><br />
            <span id="binding_direct"> (direct) </span>
</div>



<div id="isf_info" class="floating-info">
    start:  <span id="isf_start">   N/A     </span><br />
    end:    <span id="isf_end">     N/A     </span><br />
    network:<span id="isf_network"> None    </span><br />
    PET:    <span id="isf_PET">     None    </span><br />
    pValue: <span id="isf_pValue">  None    </span><br />
            <span id="isf_direct"> (direct) </span>
</div>



<div id="gff3_info" class="floating-info">
    <table>
        <tr>
            <td>name:</td>
            <td><span id="gff3_name">   None</span></td>
            <td>type:</td>
            <td><span id="gff3_type">   None</span></td>
        </tr>
        <tr>
            <td>gene:</td>
            <td><span id="gff3_gene">   None</span></td>
            <td>id:</td>
            <td><span id="gff3_id"> None</span></td>
        </tr>
        <tr>
            <td>start:</td>
            <td><span id="gff3_start">  N/A </span></td>
            <td>comment:</td>
            <td><span id="gff3_comment">None</span></td>
        </tr>
        <tr>
            <td>end:</td>
            <td><span id="gff3_end">    N/A </span></td>
            <td>strand:</td>
            <td><span id="gff3_strand"> None</span></td>
        </tr>
    </table>
</div>




<!-- Javascript files -->
<script type="text/javascript" src="bower/jquery/jquery.min.js"></script>
<script type="text/javascript" src="bower/jqueryui/ui/minified/jquery-ui.min.js"></script>
<script type="text/javascript" src="bower/d3/d3.js"></script>
<script type="text/javascript" src="bower/q/q.js"></script>

<script type="text/javascript" src="powerfocus.js" ></script>

<!-- Typescript files compiled -->
<script type="text/javascript" src="js/core.js" ></script>
<script type="text/javascript" src="js/mainView.js" ></script>
<script type="text/javascript" src="js/modelView.js" ></script>
<script type="text/javascript" src="js/featureFinder.js" ></script>
<script type="text/javascript" src="js/focusView.js" ></script>
<script type="text/javascript" src="js/histogram.js" ></script>
<script type="text/javascript" src="js/cytoband.js" ></script>
<script type="text/javascript" src="js/adjacency.js" ></script>
<script type="text/javascript" src="js/isf.js" ></script>
<script type="text/javascript" src="js/bedGraph.js" ></script>
<script type="text/javascript" src="js/gff3.js" ></script>

<script type="text/javascript">

var LOADED  = {};
var LOADING = false;

function preload(filename, type, content, fileid) {
console.log(LOADING)
    if (LOADED[filename])   return;
    if (LOADING)            return;
    LOADING = true;
    showLoading();
    Views.mainView.getSubView('modelsView').loadFile(filename, type, content, fileid);
    hideLoading(filename);
}

function setOptions(genomechoice) {
    var selection = document.selectform.assembly;
    selection.options.length = 0;
    if (genomechoice == " ") {
        document.getElementById('load').disabled = true;
        selection.options[selection.options.length] = new Option('Assembly',' ');
    }
    if (genomechoice == "1") {
        document.getElementById('load').disabled = false;
        selection.options[selection.options.length] = new Option('hg19','files/cytoBand.hg19.txt');
        selection.options[selection.options.length] = new Option('hg18','files/cytoBand.hg18.txt');
    }
    if (genomechoice == "2") {
        document.getElementById('load').disabled = false;
        selection.options[selection.options.length] = new Option('mm10','files/cytoBand.mm10.txt');
        selection.options[selection.options.length] = new Option('mm9','files/cytoBand.mm9.txt');
    }
}

function displayfiles(genomechoice) {
//     var selection = document.selectform.assembly.value;
//     switch (selection) {
//         case "files/cytoBand.hg19.txt":
//             document.getElementById('fileshg19').style.display='block';
//             document.getElementById('fileshg18').style.display='none';
//             document.getElementById('filesmm10').style.display='none';
//             document.getElementById('filesmm9').style.display='none';
//             document.getElementById('filesdefault').style.display='none';
//             break;
//         case "files/cytoBand.hg18.txt":
//             document.getElementById('fileshg19').style.display='none';
//             document.getElementById('fileshg18').style.display='block';
//             document.getElementById('filesmm10').style.display='none';
//             document.getElementById('filesmm9').style.display='none';
//             document.getElementById('filesdefault').style.display='none';
//             break;
//         case "files/cytoBand.mm10.txt":
//             document.getElementById('fileshg19').style.display='none';
//             document.getElementById('fileshg18').style.display='none';
//             document.getElementById('filesmm10').style.display='block';
//             document.getElementById('filesmm9').style.display='none';
//             document.getElementById('filesdefault').style.display='none';
//             break;
//         case "files/cytoBand.mm9.txt":
//             document.getElementById('fileshg19').style.display='none';
//             document.getElementById('fileshg18').style.display='none';
//             document.getElementById('filesmm10').style.display='none';
//             document.getElementById('filesmm9').style.display='block';
//             document.getElementById('filesdefault').style.display='none';
//             break;
//         default:
//             document.getElementById('fileshg19').style.display='none';
//             document.getElementById('fileshg18').style.display='none';
//             document.getElementById('filesmm10').style.display='none';
//             document.getElementById('filesmm9').style.display='none';
//             document.getElementById('filesdefault').style.display='block';
//             break;
//     }
}

(function($){
    'use strict';

    var body = $(document.body),
        modal = $('#dropfile-modal'),
        re = /\.(\w+)$/,
        files = [],
        SELECT;

    SELECT =  "<select>";
    SELECT += "<option value='bedGraph' data-search='bedgraph'>bedgraph</option>";
    SELECT += "<option value='gff3' data-search='gff'>gff</option>";
    SELECT += "<option value='isf' data-search='isf'>isf</option>";
    SELECT += "<option value='cytoband' data-search='txt'>txt</option>";
    SELECT += "</select>";

    body.on('dragenter', function(ev){
        modal.fadeIn();
        return false;
    });


    body.on("dragover", function(ev){
        return false;
    });

    modal.on('click', function(ev){
        ev.preventDefault();
        modal.fadeOut();
        return false;
    });

    modal.on('drop', function(ev){
        ev.preventDefault();
        modal.fadeOut();

        addFileToList(ev.originalEvent.dataTransfer.files[0]);
        return false;
    });

    $('#pcfile').on('change', function(ev){
        addFileToList(ev.currentTarget.files[0]);
        ev.currentTarget.value = '';
    });

    function addFileToList(file){
        $('#pcfiles-list-first').hide();
        files.push(file);
        updateFileList();
    }

    function updateFileList(){
        var list = $('#pcfiles-list');

        $.each(files, function(i, file){
            if( file.__added === true ){
                return;
            }
            file.__added = true;

            var li = $('<li>'),
                a = $('<input>').attr("type", 'button'),
                select = $(SELECT),
                type;

            if( re.test(file.name) ){
                type = re.exec(file.name)[1];
                select.find('[data-search="'+type+'"]').attr('selected', 'selected');
            }

            a.attr('data-fileindex', i);
            a.val(file.name);
            a.on('click', function(ev){
                var select = ev.currentTarget.nextElementSibling;
                loadFileByIndex(ev.currentTarget.getAttribute('data-fileindex'), select.value);
                ev.currentTarget.disabled = true;
                select.disabled = true;
            });

            li.append(a);
            li.append(select);
            list.append( li );
        });
    }

    function loadFileByIndex(index, type){
        var file = files[index],
            reader = new FileReader();

        reader.onprogress = showProgress;

        reader.onload = function (event) {
            preload(file.name, type, event.target.result);
        };

        reader.readAsText(file);
    }


})(jQuery);

</script>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jh.js"></script>

<style id="id_style1"></style>

</div>
</div>
</div>
</body>
</html>
