<!DOCTYPE html>
<html lang="en" ng-app="chromolens" ng-controller="chromolensCtrl">

<head>
<title>ChromoLens</title>
<meta charset="utf-8" />
<link rel="icon" href="img/favicon-32.png" sizes="32x32" />
<link rel="stylesheet" type="text/css" href="css/chromolens.css" />
<link rel="stylesheet" type="text/css" href="bower/jqueryui/themes/smoothness/jquery-ui.min.css" />
<link rel="stylesheet" href="css/bootstrap.min.css">
<link   type="text/css" rel="stylesheet" href="css/jh.css"/>
<script src="js/angular.min.js"></script>
<script src="js/app.js"></script>
</head>



<body  ng-dblclick="showVT=!showVT">
<div class="container">
<div class="row">
<div class="col-xs-12">

<div class="header text-center">
    <div id="CSItitle" class="title pull-right"><a href="http://www.csi.nus.edu.sg/"><img src="img/NUS-CSI.svg" alt="NUS|CSI logo" id="CSIlogo" title="NUS | CSI"></a></div>

    <div id="genomechoice" class="pull-left">
        <form name="selectform" class="form-inline">

            <select
                name="genome"
                ng-model="genome"
                class="form-control"
                ng-change="setDefaultAssembly();"
                ng-options="name for (name, data) in genomes"
                ng-disabled="loaded"
            ></select>

            <select
                name="assembly"
                id="selectAssembly"
                ng-model="assembly"
                class="form-control"
                ng-options="a as a.assembly for a in genomes[genome.name].assemblies track by a.file"
                ng-change="getChromosomes();"
                ng-disabled="loaded"
            ></select>

            <select
                type="genomechoice"
                id="chromosomes"
                class="form-control"
                ng-model="chromosome"
                ng-options="c for c in genome.chromosomes track by c"
                ng-disabled="loaded"
            ></select>

            <input type="button" class="btn btn-primary" name="load" id="load" value="Load" ng-hide="loaded" ng-click="load()" onclick="loaddata();" title="Load genome">

            <a class="btn btn-primary" ng-show="loaded" onclick="window.open(window.location.href)" target="_blank" title="New Chromolens tab">
                <span class="glyphicon glyphicon-plus-sign"></span>
            </a>

            <script>
                function loaddata() {
    //                 debugger;
                    gv = new GenomeViewer.ChromosomeViewer();
                    preload((document.selectform.assembly.options[document.selectform.assembly.selectedIndex].value),'cytoband');
                    setTimeout( function() {
                        $("#add").click();
                        $("#view_type option").remove();
                        LOADING= false;
                    }, 100 );
                    LOADING= false;
                }
            </script>

        </form>
    </div>

    <div id="ChromoLensTitle" class=""><img src="img/logo.svg" alt="ChromoLens logo" id="ChromoLensLogo" title="ChromoLens"></div>

</div><!-- header -->



<br clear="all">
<div id="status" ng-cloak ng-show="loaded">

    <div class="ui-widget hide">
        <label for="features">Features</label>
        <input id="features"/>
    </div>

    <br class="clearfix">
    <div class="col-xs-1 focus_info" >Focus:</div>
    <div class="col-xs-2 focus_info" ><span id="focus_detail">N/A</span></div>
    <div class="col-xs-1 focus_info col-offset-xs-1" >Zoom:</div>
    <div class="col-xs-2 focus_info" ><span id="zoom_detail">N/A</span></div>
</div>



<div id="view" ng-cloak ng-show="loaded">
    <svg class="genome" id="genomesvg"></svg>
</div>



<br><br>
<div id="ChromoLens" ng-cloak>

<div class="files" ng-cloak ng-show="loaded">

    <div class="panel panel-primary" ng-repeat="fileType in files">

        <div class="panel-heading">
            <a data-toggle="collapse" data-target="#id-panel-{{fileType.type}}">
                <h4 class="files-header" ng-bind="fileType.title"></h4>
            </a>
        </div>

        <div id="id-panel-{{fileType.type}}" class="panel-body collapse">

            <div class="col-xs-3" ng-repeat="file in fileType.files">
            <div class="panel">
            <div class="btn-group">

                <button class="btn" ng-click="preload( file.filename, fileType.type, undefined, file.fileid );" ng-class="loadedFiles[file.fileid] ? 'bg-success' :'btn-default'">
                    {{file.fileid}}
                </button>
                <button type="button" class="btn bg-success dropdown-toggle" data-toggle="dropdown" ng-show="loadedFiles[file.fileid]">
                    <span class="caret"></span>
                </button>

                <ul class="panelType dropdown-menu" ng-show="loadedFiles[file.fileid]">
                    <li ng-repeat="panelType in panels[ file.type || fileType.type ]">
                        <label>
                            <input type="checkbox" value="panelType.value" ng-click="addTrack($event, file, panelType.value)">
                            {{panelType.title}}
                        </label>
                    </li>
                </ul>

            </div><!-- btn-group -->
            </div><!-- panel -->
            </div><!-- col -->

        </div><!-- panel-body -->
    </div><!-- panel -->

<p class="upload-container">
    <input type="file" id="pcfile">
</p>
<div id="dropfile-modal"></div>

</div><!-- files -->


<div id="Loading">
    <i id="LoadingAnimation"></i>
    <span id="LoadingText">Loading, please wait...</span>
    <div id="LoadingBarWrapper">
        <progress id="LoadingBar" max="100"></progress>
    </div>
</div>



<div id="binding_info" class="floating-info">
    start:  <span id="binding_start">   N/A     </span><br />
    end:    <span id="binding_end">     N/A     </span><br />
    pValue: <span id="binding_pValue">  None    </span><br />
    peak:   <span id="binding_peak">    N/A     </span><br />
            <span id="binding_direct"> (direct) </span>
</div>



<div id="isf_info" class="floating-info">
    start:  <span id="isf_start">   N/A     </span><br />
    end:    <span id="isf_end">     N/A     </span><br />
    network:<span id="isf_network"> None    </span><br />
    PET:    <span id="isf_PET">     None    </span><br />
    pValue: <span id="isf_pValue">  None    </span><br />
            <span id="isf_direct"> (direct) </span>
</div>



<div id="gff3_info" class="floating-info">
    <table>
        <tr>
            <td>name:</td>
            <td><span id="gff3_name">   None</span></td>
            <td>type:</td>
            <td><span id="gff3_type">   None</span></td>
        </tr>
        <tr>
            <td>gene:</td>
            <td><span id="gff3_gene">   None</span></td>
            <td>id:</td>
            <td><span id="gff3_id"> None</span></td>
        </tr>
        <tr>
            <td>start:</td>
            <td><span id="gff3_start">  N/A </span></td>
            <td>comment:</td>
            <td><span id="gff3_comment">None</span></td>
        </tr>
        <tr>
            <td>end:</td>
            <td><span id="gff3_end">    N/A </span></td>
            <td>strand:</td>
            <td><span id="gff3_strand"> None</span></td>
        </tr>
    </table>
</div>


<div ng-show="showVT">
    <p><br class="clearfix">
    <form id="ModelsView">
        <p>
            Add view of type
            <select type="genomechoice" id="view_type" ></select>
            <span class="hidev2">
                to
                <select type="genomechoice" id="dest_view" >
                    <option value="new">a new view</option>
                </select>
            </span>
            <input type="button" id="add" value="Confirm" disabled="true" _onclick="addTrack();">
<!--
            <script>
                function addTrack(e) {
                    //debugger;
                    document.getElementById('genomesvg').style.border = '0.2em groove silver';
                    var elements = document.getElementsByClassName('hide_');
                    for (var e in elements) {if(elements[e].style) elements[e].style.display = 'block';}
                }
            </script>
-->
        </p>

        <p id="parsers" style="display:none"></p>
        <p style="display:none">Load a file: <input type="file" id="_file" name="_file"/></p>
        <p class="hide_">
            Loaded files:
            <select type="genomechoice" id="filenames" ></select>
        </p>
    </form>

<ul id="pcfiles-list">
    <li id="pcfiles-list-first"><h5>No files available yet.</h5></li>
</ul>

</div>


</div>
</div>
</div>


<!-- Javascript files -->
<script type="text/javascript" src="bower/jquery/jquery.min.js"></script>
<script type="text/javascript" src="bower/jqueryui/ui/minified/jquery-ui.min.js"></script>
<script type="text/javascript" src="bower/d3/d3.js"></script>
<script type="text/javascript" src="bower/q/q.js"></script>

<script type="text/javascript" src="powerfocus.js" ></script>

<!-- Typescript files compiled -->
<script type="text/javascript" src="js/core.js" ></script>
<script type="text/javascript" src="js/mainView.js" ></script>
<script type="text/javascript" src="js/modelView.js" ></script>
<script type="text/javascript" src="js/featureFinder.js" ></script>
<script type="text/javascript" src="js/focusView.js" ></script>
<script type="text/javascript" src="js/histogram.js" ></script>
<script type="text/javascript" src="js/cytoband.js" ></script>
<script type="text/javascript" src="js/adjacency.js" ></script>
<script type="text/javascript" src="js/isf.js" ></script>
<script type="text/javascript" src="js/bedGraph.js" ></script>
<script type="text/javascript" src="js/gff3.js" ></script>

<script type="text/javascript">

var LOADED  = {};
var LOADING = false;

function preload(filename, type, content, fileid) {
    if (LOADED[filename])   return;
    if (LOADING)            return;
    LOADING = true;
    showLoading();
    Views.mainView.getSubView('modelsView').loadFile(filename, type, content, fileid);
    hideLoading();
}

function setOptions(genomechoice) {
}

function displayfiles(genomechoice) {
}

(function($){
    'use strict';

    var body = $(document.body),
        modal = $('#dropfile-modal'),
        re = /\.(\w+)$/,
        files = [],
        SELECT;

    SELECT =  "<select class='uploaded-select'>";
    SELECT += "<option value='bedGraph' data-search='bedgraph'>bedgraph</option>";
    SELECT += "<option value='gff3' data-search='gff'>gff</option>";
    SELECT += "<option value='isf' data-search='isf'>isf</option>";
    SELECT += "<option value='cytoband' data-search='txt'>txt</option>";
    SELECT += "</select>";

    body.on('dragenter', function(ev){
        modal.fadeIn();
        return false;
    });


    body.on("dragover", function(ev){
        return false;
    });

    modal.on('click', function(ev){
        ev.preventDefault();
        modal.fadeOut();
        return false;
    });

    modal.on('drop', function(ev){
        ev.preventDefault();
        modal.fadeOut();

        addFileToList(ev.originalEvent.dataTransfer.files[0]);
        return false;
    });

    $('#pcfile').on('change', function(ev){
        addFileToList(ev.currentTarget.files[0]);
        ev.currentTarget.value = '';
    });

    function addFileToList(file){

        function getType(filename) {
            var ext = filename.split(".");
            if (ext.length < 2) return false;
                    ext = ext[ext.length - 1].toLowerCase();
            var types = {
                isf :       "isf",
                bedgraph :  "bedGraph",
            };
            return types[ext];
        }

        $('#pcfiles-list-first').hide();
        files.push(file);
                    var types = {
                        isf :       "isf",
                        bedgraph :  "bedGraph",
                    };
        loadFile( file, getType(file.name) );
//         updateFileList();
    }

    function updateFileList(){
        var list = $('#pcfiles-list');

        $.each(files, function(i, file){
            if( file.__added === true ){
                return;
            }
            file.__added = true;

            var li = $('<li>'),
                a = $('<input>').attr("type", 'button'),
                select = $(SELECT),
                type;

            if( re.test(file.name) ){
                type = re.exec(file.name)[1];
                var x = select.find('[data-search="'+type+'"]');
                select.find('[data-search="'+type+'"]').attr('selected', 'selected');
            }

            a.attr('data-fileindex', i);
            a.val(file.name);

            a.on('click', function(ev){
                var currentTarget = ev.currentTarget;
                var select = currentTarget.nextElementSibling;
                loadFileByIndex(currentTarget.getAttribute('data-fileindex'), select.value);
                currentTarget.disabled = true;
                currentTarget.classList.toggle("bg-success", true);
                currentTarget.classList.toggle("loaded", true);
                select.disabled = true;
            });

            li.append(a);
            li.append(select);
            list.append( li );
        });
    }

    function loadFileByIndex(index, type){
        var file = files[index],
            reader = new FileReader();

        reader.onprogress = showProgress;

        reader.onload = function (event) {
            preload(file.name, type, event.target.result);
            LOADING = false;
            $("#add").click();
        };

        reader.readAsText(file);
    }


    function loadFile(file, type){
        var reader = new FileReader();
        reader.onprogress = showProgress;
        reader.onload = function (event) {
            preload(file.name, type, event.target.result);
            LOADING = false;
            angular.element($("body")).scope().addUploadFile(file);
        };
        reader.readAsText(file);
    }


})(jQuery);

</script>


<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jh.js"></script>

<style id="id_style1"></style>

</body>
</html>
